# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular build output
/dist
/tmp
/out-tsc

# Environment files (اختياري لو بتخفيهم)
src/environments/environment*.ts

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/
.angular/
.sass-cache/

# Coverage reports
/coverage

# Logs
*.log

# Compiled JS & maps
*.js
*.js.map

# Optional: Local env overrides
.env
.env.*
