<div class="h-screen flex items-center justify-center">


<form [formGroup]="loginForm" (ngSubmit)="handleLoginForm()" class="bg-white p-5 rounded-xl w-[95%] md:w-1/2  mx-auto">
  <div class="mb-5">
    <label for="email-alternative" class="block mb-2.5 text-sm font-medium text-heading">email</label>
    <input formControlName="email" [class.!border-red-500]="loginForm.get('email')?.errors && loginForm.get('email')?.touched" [class.!border-main]="!loginForm.get('email')?.errors && loginForm.get('email')?.touched" type="email" id="email-alternative" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base outline-none ring-0 focus:border-transparent block w-full px-3 py-2.5 shadow placeholder:text-body" placeholder="Please Write Email..." required />
    @if (loginForm.get('email')?.touched) {
        @if (loginForm.get('email')?.getError('required')) {
            <div class="p-4 my-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Email is Required </span> 
</div>
        }

               @if (loginForm.get('email')?.getError('email')) {
            <div class="p-4 my-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Please Write Valid Email</span> 
</div>
        }
    }

</div>
  <div class="mb-5">
    <label for="password-alternative" class="block mb-2.5 text-sm font-medium text-heading">password</label>
    <input [class.!border-red-500]="loginForm.get('password')?.errors && loginForm.get('password')?.touched" [class.!border-main]="!loginForm.get('password')?.errors && loginForm.get('password')?.touched" formControlName="password" type="password" id="password-alternative" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base ring-0  block w-full px-3 py-2.5 shadow  outline-none placeholder:text-body" placeholder="••••••••" required />
 
@if (loginForm.get('password')?.touched) {

@if (loginForm.get('password')?.getError('required')) {
            <div class="p-4 my-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Password Is Required</span> 
</div>
}

@if (loginForm.get('password')?.getError('pattern')) {
            <div class="p-4 my-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Your password should be at least 8 characters long and must include an uppercase letter, a lowercase letter, a number, and a special character.</span> 
</div>
}
}

</div>
<div class="flex items-center justify-between">
  <button [disabled]="loginForm.invalid && isLoading()" [class.opacity-40]="loginForm.invalid"  type="submit" class="text-white cursor-pointer bg-main box-border border border-transparent hover:bg-main-strong focus:ring-4 focus:ring-main-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
    @if (isLoading()) {
      Loading...
    }@else {
      Submit
    }


  </button>
    <p class="font-semibold text-sm text-main cursor-pointer" (click)="route.navigateByUrl('/auth/register')">Register ?</p>
</div>
      <p class="font-semibold text-sm text-red-500 cursor-pointer text-end" (click)="route.navigateByUrl('/auth/forget-password')">Are You Forget Password ?</p>

</form>


</div>